<launch>
        <arg name="map_number" default="1" />
        <arg name="map_file" default="$(find bib_poli_package)/config/maps/$(arg map_number)/map.yaml"/>
        <arg name="language" default="en" />
        <!--
        LOAD MAP
        -->
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
        <!--
        LOAD POIs
        -->
        <node pkg="bib_poli_package" name="bib_poli_poi_manager" type="bib_poli_poi_manager.py">
            <param name="operation_type" value="load" />
            <param name="filename" value="$(find bib_poli_package)/config/$(arg map_number)_pois.json" />
        </node>

        <!--
        LOAD bib_poli_node
        -->
        <node pkg="bib_poli_package" name="bib_poli_node" type="bib_poli_prime.py" output="screen">
            <param name="infofilename" value="$(find bib_poli_package)/config/$(arg map_number)_rooms.json" />
        </node>

        <!--
        LOAD Events writer
        <node pkg="experiment_package" name="experiment_events_writer" type="experiment_events_writer.py">
            <param name="filename" value="$(find experiment_package)/logs/$(arg map_number)_events.json" />
        </node>

        -->
        <!--
        LOAD Path writer
        <node pkg="experiment_package" name="experiment_path_writer" type="experiment_path_writer.py">
            <param name="filename" value="$(find experiment_package)/logs/$(arg map_number)_path.json" />
        </node>

        -->
        <!--
        LOAD Photo writer
        <node pkg="experiment_package" name="experiment_photo_writer" type="experiment_photo.py">
        </node>
        -->
</launch>