<launch>
        <!--
        ce harta se va folosi
        -->
        <arg name="map_number" default="1" />
        <arg name="map_file" default="$(find bib_poli_package)/config/maps/$(arg map_number)/map.yaml"/>
        <!--
        LOAD MAP
        -->
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
        <!--
        LOAD POIs
        -->
        <node pkg="bib_poli_package" name="bib_poli_poi_manager" type="bib_poli_poi_manager.py">
            <param name="operation_type" value="load" />
            <param name="filename" value="$(find bib_poli_package)/config/$(arg map_number)_pois.json" />
        </node>

        <!--
        LOAD the http server
        -->
        <node pkg="bib_poli_package" name="bib_poli_install_http" type="bib_poli_install_http.sh">
        </node>


        <!--
        TODO: Load Lookafter
        -->

        <!--
        LOAD bib_poli_node (sistemul central)
        -->
        <node pkg="bib_poli_package" name="bib_poli_node" type="bib_poli_prime.py" output="screen">
            <param name="infofilename" value="$(find bib_poli_package)/config/$(arg map_number)_info.json" />
        </node>
</launch>